node_modules/
storage/cargas/*
!storage/cargas/.gitkeep
storage/uploads/
.cache/
.env
.env.*
npm-debug.log*
*.log
*.xls
*.xlsx
*.pbix
*token*
*tokens*
*credencial*
*credenciales*
*credential*
*credentials*
*secret*
*secreto*
*secretos*
tmp/
temp/
